@font-face {
	font-family: 'Aller';
	src: url('../fonts/aller/aller-regular/aller-regular.eot');
	src: url('../fonts/aller/aller-regular/aller-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/aller/aller-regular/aller-regular.woff2') format('woff2'),
	url('../fonts/aller/aller-regular/aller-regular.woff') format('woff'),
	url('../fonts/aller/aller-regular/aller-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Aller';
	src: url('../fonts/aller/aller-bold/aller-bold.eot');
	src: url('../fonts/aller/aller-bold/aller-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/aller/aller-bold/aller-bold.woff2') format('woff2'),
	url('../fonts/aller/aller-bold/aller-bold.woff') format('woff'),
	url('../fonts/aller/aller-bold/aller-bold.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Aller';
	src: url('../fonts/aller/aller-light/aller-light.eot');
	src: url('../fonts/aller/aller-light/aller-light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/aller/aller-light/aller-light.woff2') format('woff2'),
	url('../fonts/aller/aller-light/aller-light.woff') format('woff'),
	url('../fonts/aller/aller-light/aller-light.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
